@model FoodR.Web.ViewModels.TruckViewModel
@{
    ViewBag.Title = "FoodR - Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="/App/css/schedule.css" rel="stylesheet">
}
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#truck" data-toggle="tab">Truck</a></li>
    <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
    <li><a href="#menu" data-toggle="tab">Menu</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="truck">
        <div class="col-md-8">
            <h2>Manage Truck</h2>
        </div>
        <div class="col-md-8">
            @using (Html.BeginForm("Manage", "Profile", FormMethod.Post, new { id = Model.Truck.Id }))
            {
            @Html.LabelFor(m => m.Truck.Id)
            <p>@Html.DisplayFor(m => m.Truck.Id)</p>

            @Html.LabelFor(m => m.Truck.Name)
            <p>@Html.TextBoxFor(m => m.Truck.Name, new { @class = "form-control" })</p>

            @Html.LabelFor(m => m.Truck.Description)
            <p>@Html.TextAreaFor(m => m.Truck.Description, new { @class = "form-control" })</p>

            <h3>Contact Info</h3>

            @Html.LabelFor(m => m.Truck.Email)
            <p>@Html.TextBoxFor(m => m.Truck.Email, new { @class = "form-control" })</p>

            @Html.LabelFor(m => m.Truck.Phone)
            <p>@Html.TextBoxFor(m => m.Truck.Phone, new { @class = "form-control" })</p>

            @Html.LabelFor(m => m.Truck.Website)
            <p>@Html.TextBoxFor(m => m.Truck.Website, new { @class = "form-control" })</p>

            <div>
                <button type="submit" class="btn btn-success btn-lg center-block">Save</button>
            </div>
            }
        </div>
    </div>
    <div class="tab-pane" id="schedule">
        <div class="col-md-8">
            <h2>Manage Schedule</h2>
        </div>
        <div class="col-md-8">
            @Html.Partial("ManageSchedule", Model)
        </div>
    </div>
    <div class="tab-pane" id="menu">
        <div class="col-md-8">
            <h2>Manage Menu</h2>
        </div>
    </div>
</div>

@section scripts {
    <script src="/Scripts/tab.js"></script>
    <script type="text/javascript">
        $('.nav-tabs a').click(function (e) {
            //e.preventDefault()
            $(this).tab('show')
        })
    </script>
}