@using FoodR.Data.Models
@model IEnumerable<FoodR.Data.Models.FoodTruck>
@{
    ViewBag.Title = "FoodR - Truck List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="/Content/schedule.css" rel="stylesheet">
}

    <h2>Trucks out today</h2>
    @if (Model.Count() == 0)
    {
        <div class="alert alert-danger">No Trucks out today, sorry :(</div>
    }
    @foreach (FoodTruck t in Model)
    {
        <div class="week">
            <div class="day">
                <div class="header">
                    <div class="verbiage pull-left">
                        @Html.ActionLink(t.Name, "Details", "Trucks", new { name = t.UrlSlug }, null)
                        <ul class="rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <li>
                                    <a href="#">
                                        @if (t.Rating < i)
                                        {
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        }
                                        else
                                        {
                                            <span class="glyphicon glyphicon-star"></span>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                        <p>@t.Description</p>
                    </div>
                    @*<div class="controls pull-right">
                        @if (t.Menus.Count > 0)
                        {
                            @Html.ActionLink("Menu", "Menu", "Home", null, new { @class = "btn btn-info btn-sm" })
                        }
                    </div>*@
                    <div class="clearfix"></div>
                </div>
                <ul class="events">
                    @foreach (ScheduledStop e in t.ScheduledStops)
                    {
                        <li class="entry">
                            <div class="timespan">
                                <div>@e.From.ToString("h tt")</div>
                                <div>@e.To.ToString("h tt")</div>
                            </div>
                            <div class="location">
                                <h5>@e.Location.Name</h5>
                                <p>@e.Location.StreetAddress</p>
                            </div>
                            <div class="entry-controls">
                                <button class="btn btn-success btn-sm">I'm Going!</button>
                                <button class="btn btn-info btn-sm">On Map</button>
                                <button class="btn btn-danger btn-sm">Report Problem</button>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
@section scripts {
    <script type="text/javascript">
        $('.rating a').mouseover(function (e) {
            $(this).parent().parent().children('span').addClass('user-rating-selected user-rating');
        })
    </script>
}