@model FoodR.Web.ViewModels.TruckViewModel
@{
    ViewBag.Title = "FoodR - " + Model.Truck.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="/App/css/schedule.css" rel="stylesheet">
}

<h3>@Model.Truck.Name</h3>

<p>@Model.Truck.Description</p>

@Html.LabelFor(m => m.Truck.Rating)
<p>@Model.Truck.Rating / 5</p>

<h3>Contact Info</h3>

@if (!string.IsNullOrEmpty(Model.Truck.Email))
{
    @Html.LabelFor(m => m.Truck.Email)
    <p>@Model.Truck.Email</p>
}

@if (!string.IsNullOrEmpty(Model.Truck.Email2))
{
    @Html.LabelFor(m => m.Truck.Email2)
    <p>@Model.Truck.Email2</p>
}

@if (!string.IsNullOrEmpty(Model.Truck.Phone))
{
    @Html.LabelFor(m => m.Truck.Phone)
    <p>@Model.Truck.Phone</p>
}

@if (!string.IsNullOrEmpty(Model.Truck.Phone2))
{
    @Html.LabelFor(m => m.Truck.Phone2)
    <p>@Model.Truck.Phone2</p>
}

@if (!string.IsNullOrEmpty(Model.Truck.Website))
{
    @Html.LabelFor(m => m.Truck.Website)
    <p><a href="@Model.Truck.Website">Website</a></p>
}
<h3>Schedule</h3>
@Html.Partial("ManageSchedule", Model)
