@model FoodR.Web.Data.Models.FoodTruck
@{
    ViewBag.Title = "Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Name</h3>

@Html.LabelFor(m => m.Id)
<p>@Model.Id</p>

@Html.LabelFor(m => m.Comments)
<p>@Model.Comments</p>

@Html.LabelFor(m => m.Rating)
<p>@Model.Rating / 5</p>

<h3>Contact Info</h3>

@if (!string.IsNullOrEmpty(Model.Email))
{
    @Html.LabelFor(m => m.Email)
    <p>@Model.Email</p>
}

@if (!string.IsNullOrEmpty(Model.Email2))
{
    @Html.LabelFor(m => m.Email2)
    <p>@Model.Email2</p>
}

@if (!string.IsNullOrEmpty(Model.Phone))
{
    @Html.LabelFor(m => m.Phone)
    <p>@Model.Phone</p>
}

@if (!string.IsNullOrEmpty(Model.Phone2))
{
    @Html.LabelFor(m => m.Phone2)
    <p>@Model.Phone2</p>
}

@if (!string.IsNullOrEmpty(Model.Website))
{
    @Html.LabelFor(m => m.Website)
    <p><a href="@Model.Website">Website</a></p>
}
<h3>Schedule</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>10 AM</th>
                <th>11 AM</th>
                <th>12 AM</th>
                <th>1 PM</th>
                <th>2 PM</th>
                <th>3 PM</th>
                <th>4 PM</th>
                <th>5 PM</th>
                <th>6 PM</th>
                <th>7 PM</th>
                <th>8 PM</th>
                <th>9 PM</th>
                <th>10 PM</th>
            </tr>
            <tr>
                <td colspan="{{timeBlock.colspan}}" ng-repeat="timeBlock in timeBlocks" class="{{timeBlock.type}}">
                    {{timeBlock.where}}
                </td>
            </tr>
        </table>
    </div>
</div>
