@model TruckDetailsViewModel
@{
    ViewBag.Title = "FoodR - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
<link href="/App/css/schedule.css" rel="stylesheet">
}

<h3>@Model.Name</h3>

<p>@Model.Description</p>

@Html.LabelFor(m => m.Rating)
<p>@Model.Rating / 5</p>

<h3>Contact Info</h3>

@if (!string.IsNullOrEmpty(Model.Email))
{
    @Html.LabelFor(m => m.Email)
    <p><a href="mailto:@Model.Email">@Model.Email</a></p>
}

@if (!string.IsNullOrEmpty(Model.Phone))
{
    @Html.LabelFor(m => m.Phone)
    <p>@Model.Phone</p>
}

@if (!string.IsNullOrEmpty(Model.Website))
{
    @Html.LabelFor(m => m.Website)
    <p><a href="@Model.Website">@Model.Website</a></p>
}

@if (!string.IsNullOrEmpty(Model.Facebook))
{
    @Html.LabelFor(m => m.Facebook)
    <p><a href="https://www.facebook.com/@Model.Facebook">@Model.Facebook</a></p>
}

@if (!string.IsNullOrEmpty(Model.Twitter))
{
    @Html.LabelFor(m => m.Twitter)
    <p><a href="https://www.twitter.com/@Model.Twitter">@Model.Twitter</a></p>
}

<h3>Schedule</h3>

@{ Html.RenderAction("Weekly", "Schedule", new { urlslug = Model.UrlSlug}); }