@model LocationDetailViewModel
		   
<h4>@Model.Name</h4>
<p>@Model.Description</p>
@Model.StreetAddress<br/>
@if (!Model.StreetAddress2.IsNullOrEmpty())
{
	@Model.StreetAddress2 <br/>
}
@Model.AreaCityName, @Model.AreaCityStateId<br/>
@Model.ZipCode
