@model FoodR.Web.ViewModels.TruckViewModel
@if (Model.EditMode)
{
    <div class="controls">
        <button class="btn btn-success btn-sm pull-right">Add</button>
        <div class="clearfix"></div>
    </div>
}
<div class="week">
    @foreach (var day in Model.EventsInDays)
    {
    <div class="day">
        <div class="header">
            <div class="name">@day.Key.ToString("dddd MMMM dd")</div>
        </div>
        <ul class="events">
            @foreach (var evt in day)
            {
                <li class="entry">
                    <div class="timespan">
                        <div>@evt.From.ToString("h tt")</div>
                        <div>@evt.To.ToString("h tt")</div>
                    </div>
                    <div class="location">
                        <h5>@evt.Location.Name</h5>
                        <p>@evt.Location.Address.StreetAddress</p>
                    </div>
                    @if (Model.EditMode)
                    {
                        <div class="entry-controls">
                            <button class="btn btn-info btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Cancel This</button>
                        </div>
                    }
                    <div class="clearfix"></div>
                </li>
            }
        </ul>

    </div>
    }

</div>